/** 
#DBB98F
#96351E
**/
.descriptionCT {
  font-size: larger;
}
.navbar-styleCT {
  background-color: #1488cc !important;
  background: linear-gradient(to right, #189ce9, #353ee6, #2b32b2) !important;
  font-size: 18px !important;
}

.even-highlight {
  font-size: 2rem;
  color: black;
}

.odd-highlight {
  font-size: 2rem;
  color: pink;
}

.logo-CT h3 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  float: left;
  background-color: #673ab7;
  background: linear-gradient(to center, #5d00ff, #230270);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.logo-CT h3 span {
  background: #e74c3c;
  display: inline-block;
  line-height: 1.8;
}

.logo-CT a {
  text-decoration: none;
}

.hand-icon {
  cursor: pointer;
}

.cardCT {
  background-color: #536976;
}
